body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#titulo {
  padding-right: 5px;
}
#exibir {
  text-align: center;
}
td {
  height: 3px;
  width: 18px;
  margin: 0;
  padding: 0;
}
.selected {
  font-weight: 800;
}