/* formulario */
.formulario {
  /* display: none; */
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#titulo-formulario {
  margin: 10px;
}

.inputs {
  display: inline;
}

#num_rows,
#num_cols {
  width: 40px;
  margin-bottom: 10px;
}

/* caca-palavras */
.caca-palavras {
  display: none;
  /* display: flex; */
  flex-direction: column;
  text-align: center;
}
#cabecalho {
  display: flex;
  flex-direction: row;
}
#titulo {
  padding-right: 5px;
}
#numeros {
  display: flex;
  flex-direction: row;
}
#exibirTabela {
  text-align: center;
}
td {
  height: 3px;
  width: 18px;
  margin: 0;
  padding: 0;
}
.selected {
  font-weight: 800;
}
