body {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  background-color: #ffab2c;
}
h2 {
  margin: 0;
  font-size: 20px;
  color: #ffab2c;
}

/* formulario */
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  align-items: center;
}

#form-title {
  box-shadow: 5px 5px white;
  background-color: #ffea7a;
  padding: 10px 4px 0px 4px;
  margin-bottom: 20px;
  width: 100%;
  font-family: 'Borel', cursive;
  text-align: center;
}

.inputs {
  display: inline;
  margin-bottom: 10px;
}

#btn {
  border: none;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: none;
}

#num_rows,
#num_cols {
  width: 40px;
  margin-bottom: 10px;
}

/* caca-palavras */
.caca-palavras {
  /* display: flex; */
  display: none;
  flex-direction: column;
  margin-right: auto;
  margin-top: 50px;
  align-items: center;
}
#head {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px white;
  background-color: #ffea7a;
  margin-bottom: 20px;
  padding: 10px 4px 0px 4px;
  width: 100%;
  justify-content: center;
}
#title,
#numbers {
  font-family: 'Borel', cursive;
}
#numbers {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
table {
  border: 10px solid #ffea7a;
  font-family: 'Roboto', sans-serif;
  background: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
button {
  background-color: white;
  width: 25px;
  padding: 2.5px;
  text-align: center;
  border-radius: 1.5px;
  border: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
.selected {
  font-weight: 800;
  color: #ffab2c;
}
#palavras {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  box-shadow: 5px 5px white;
  background-color: #ffea7a;
  justify-content: center;
  align-items: center;
}
#description {
  color: #ffab2c;
}
#words {
  color: black;
  margin: 0px 0px 0px 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
  .caca-palavras {
    margin: 50px auto 50px auto;
  }
  h2 {
    font-size: 1em;
  }
}
